body{
  margin: 0%;
}
nav{
  background-color: #aadfe2;
  font-family: montserrat;
  text-align: center;
  padding: 1%;
  margin: 0;
}

nav a{
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

 h1 {
    font-family: source sans pro;
    font-size: 40px;
    text-align: center;
 }
  h2 {
    font-family: source sans pro;
    text-align: center;
  }

  h3 {
    font-family: montserrat;
    text-align: center;
  }

  img{
    border-radius: 10px;
  }

.explain {
  margin:0 10% 0 10%;
  border-style: dotted;
}

.list{
  padding: 5px;
}
  iframe {
    border-radius: 10px;
  }

  h4 {
    font-family: montserrat;
    text-align: center;
  }

ul {
  line-height: 50px;
}

 p {
     font-family: montserrat;
     font-size:16px;

 }

 ul{
   font-family: Source sans pro;
   font-size: 20px;
 }

 footer p {
    background-color: #aadfe2;
    border: outset;
    border-radius: 25px;
    padding-bottom: 10%;
    padding-left: 3%;

 }

 footer em {
   border: inset;
   border-radius: 10px;
   padding-bottom: 8%;
   padding-right: 85%;
 }
