body{
  margin: 0%;
}
nav{
  background-color: #aadfe2;
  font-family: montserrat;
  text-align: center;
  padding: 1%;
  margin: 0;
}

nav a{
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

 h1 {
    font-family: source sans pro;
    font-size: 40px;
    text-align: center;
 }
  h2 {
    font-family: source sans pro;
    text-align: center;
  }

  h3 {
    font-family: montserrat;
    text-align: center;
  }

  img{
    border-radius: 10px;
  }

  .explain {
    margin: 1% 10% 1% 10%;
    border-style: dotted;
}

.list ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

li{
  line-height: 20px;
  text-align:center;
  font-family: montserrat;
  padding: 1%s
}
  iframe {
    border-radius: 10px;
  }

  h4 {
    font-family: montserrat;
    text-align: center;
  }

ul {
  line-height: 50px;
  list-style-type: none;
}

 p {
     font-family: montserrat;
     font-size:16px;
 }

 ul{
   font-family: Source sans pro;
   font-size: 20px;
 }

 footer p {
    background-color: #aadfe2;
    border: outset;
    border-radius: 25px;
    padding-bottom: 10%;
    padding-left: 3%;

 }
 footer .messagebox {
   border: inset;
   padding: .5% 90% 10% .5%;
   font-family: montserrat;
   margin: 0 .5% 1% .5%;
