@media screen and (min-width: 500px) {
   .list ul {
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 0.5rem;
     list-style: none;
   }
}
@media screen and (min-width: 800px) {
   .list ul {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 0.5rem;
     list-style: none;
   }
}
@media screen and (min-width: 1200px){
.list ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  font-family: montserrat;
  text-align: center;
  list-style: none;
  }
}

body{
  margin: 0%;
}
nav{
  background-color: #61aaad;
  font-family: montserrat;
  text-align: center;
  padding: 1%;
  margin: 0;
}

nav a{
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

.active {
  background-color: #eba76a;
}

 h1 {
    font-family: source sans pro;
    font-size: 40px;
    text-align: center;
 }
  h2 {
    font-family: source sans pro;
    text-align: center;
  }

  h3 {
    font-family: montserrat;
    text-align: center;
  }

  img{
    border-radius: 10px;
  }

  .explain {
    margin: 1% 10% 1% 10%;
    border-style: dotted;
}


li{
  line-height: 20px;
  text-align:center;
  font-family: montserrat;
  padding: 1%s
}
  iframe {
    border-radius: 10px;
  }

  h4 {
    font-family: montserrat;
    text-align: center;
  }

ul {
  line-height: 50px;
  list-style-type: none;
}

 p {
     font-family: montserrat;
     font-size:16px;
 }

 ul{
   font-family: Source sans pro;
   font-size: 20px;
 }

 #end {
   padding-bottom: 5%;
 }

 .top {
   font-family: sans-serif;
   font-size: 16;
   background-color: #eba76a;
   border-style:inset;
   border-radius: 10%;
   border-color: #eba76a;
   padding: 15px;
   margin: 5% 0 5% 5%;
   color: white;
   text-decoration: none;
 }

 a:hover {
   background-color: #e87777;
 }
